* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.imagecont {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-start: auto;
}


/* Styles for the tilt block */

#tilt1 {
    margin-right: 150px;
    display: block;
    height: 300px;
    width: 460px;
    background-color: grey;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s !important;
    background-image: url(http://unsplash.it/300/200);
    background-size: 100%;
    background-repeat: no-repeat;
}

#tilt1:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6) !important;
    cursor: none !important;
}

.hero {
    height: 77vh;
    overflow-x: hidden;
}

.inner {
    display: block;
    margin: 10px auto;
    width: 500px;
    height: 400px;
    margin-left: 158px;
    background-image: url('../img/portfolio.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transition: box-shadow 0.1s, transform 0.1s !important;
    background: 0px 0px 30px rgba(0, 0, 0, 0.6) !important;
}

.inner h1 {
    width: 250px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: 2px solid;
    margin-left: -150px;
}

.hero1 {
    height: 84vh;
    overflow-x: hidden;
}

.inner1 {
    margin: 141px auto;
    margin-left: 149px;
    margin-bottom: 50px !important;
    width: 500px;
    height: 376px;
    background-image: url('../img/source-4280758_640.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transition: box-shadow 0.1s, transform 0.1s !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}

.inner:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6) !important;
}

.inner1 h1 {
    width: 250px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: 2px solid;
    margin-left: -243px;
}

.hero2 {
    height: 100vh;
    overflow-x: hidden;
    margin-top: -89px;
    margin-left: 52px;
}

.inner2 {
    margin: 101px auto;
    width: 349px;
    margin-left: 192px;
    margin-top: 12px;
    height: 514px;
    background-image: url('../img/startup-594090_640.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transition: box-shadow 0.1s, transform 0.1s !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}

.inner2:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6) !important;
}

.inner2 h1 {
    width: 250px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: 2px solid;
    margin-left: -248px;
    margin-top: 50px;
}

.hero3 {
    height: 80vh;
    overflow-x: hidden;
    margin-top: -50px;
}

.inner3 {
    margin: 100px auto;
    margin-left: 4px;
    width: 697px;
    height: 365px;
    background-image: url('../img/student-849824_640.jpg');
    background-size: cover;
    background-position: center;
    transition: box-shadow 0.1s, transform 0.1s !important;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}

.bigcard {
    width: 740px;
}

.inner3:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}

.inner3 h1 {
    width: 250px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: 2px solid;
    margin-left: -243px;
}

.hero4 {
    height: 80vh;
    overflow-x: hidden;
}

.inner4 {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-image: url('../img/student-849826_640.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transition: box-shadow 0.1s, transform 0.1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.inner4:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}

.inner4 h1 {
    width: 250px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: 2px solid;
    margin-left: -243px;
}

.hero5 {
    height: 100vh;
    overflow-x: hidden;
}

.inner5 {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-image: url('../img/the-conference-3248255_640.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transition: box-shadow 0.1s, transform 0.1s;
}

.inner5:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}

.inner5 h1 {
    width: 250px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    border: 2px solid;
}

.hero6 {
    height: 100vh;
    overflow-x: hidden;
}

.inner6 {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-image: url('../img/bulletin-board-3233653_640.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transition: box-shadow 0.1s, transform 0.1s;
}

.inner6:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}

.inner6 h1 {
    width: 250px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    border: 2px solid;
}

.hero7 {
    height: 100vh;
    overflow-x: hidden;
}

.inner7 {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-image: url('../img/innovation-561388_640.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transition: box-shadow 0.1s, transform 0.1s;
}

.inner7:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.inner7 h1 {
    width: 250px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    border: 2px solid;
}


/* .hero8{
    height: 100vh;
    overflow-x: hidden;

}
.inner8{
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-image: url('../img/meeting-2284501_640.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
	transition: box-shadow 0.1s, transform 0.1s;

}
.inner8:hover{
	box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);

}
.inner8 h1{
    width: 250px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    border:2px solid ;
}
.hero9{
    height: 100vh;
    overflow-x: hidden;

}
.inner9{
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-image: url('../img/portfolio.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
	transition: box-shadow 0.1s, transform 0.1s;
   
}
.inner7:hover{
	box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);

}
.inner9 h1{
    width: 250px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    border:2px solid ;
} */